* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
    color: #758694;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    row-gap: 3vw;
}

#profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 2vw;
    padding: 36px 42px;
    border-radius: 2rem;
    box-sizing: border-box;
}

#profilePicture > img{
    height: 35vh;
    border-radius: 50%;
}

#profileDescription > #name {
    font: min(5vw, 5vh)monospace;
    color: #ffffff;
}

#profileDescription > #about {
    font: min(2vw, 2vh)monospace;
}

#profileDescription > #contact > #contactButton {
    padding: 15px 0;
}

button {
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 6px;
    box-shadow: rgba(255, 255, 255, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-family: monospace;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 20px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

button:hover,
button:active {
    background-color: initial;
    background-position: 0 0;
    color: #ffffff;
}

button:active {
    opacity: .5;
}

@media (max-width: 768px) {
    #profile {
        flex-direction: column;
    }
}